:root {
    --header-text: #fff;
    --border-color: #2ed422;
    --header-img: url(img/culinary-image.jpeg);
    --bg-colour: #11427a;
    --bland-border: black;
    --part-b: #cf30c0;
}

.head-image {
    background-image: var(--header-img);
    width: 1550px;
    height: 300px;
}

.head-text {
    color: var(--header-text);
}

.kanit-wait {
    font-family: Kanit;
}

.oswaldo {
    font-family: Oswald;
}

.verde-border {
    border-width: 5px;
    border-style: solid;
    border-color: var(--border-color);
    border-radius: 20px;
    padding: 10px;
    text-align: center;
}

.light-blu-border {
    --border-color: #93e6f1;
}

.light-blu-border {
    border-width: 5px;
    border-style: solid;
    border-color: var(--border-color);
    border-radius: 20px;
    padding: 10px;
    text-align: center;
}

.light-blu-border-side {
    border-width: 5px;
    border-style: solid;
    border-color: #11427a;
    border-radius: 20px;
    padding: 10px;
}
.black-border {
    border-width: 1px;
    border-style: solid;
    border-color: var(--bland-border);
}

.bunt-cake {
    font-family: Ubuntu;
}

.get-align {
    text-align: center;
}

.purpul-border {
    border-width: 5px;
    border-style: solid;
    border-color: var(--part-b);
    border-radius: 20px;
}

.right-point {
    margin-left: 15px;
}

.right-point-more {
    margin-left: 30px;
}

.light-colors {
    background: linear-gradient(35deg, #CCFFFF, #FFCCCC);
  }

  .light-colors-switch {
    background: linear-gradient(35deg, #FFCCCC, #CCFFFF);
  }
