:root {
    --header-text: #fff;
    --border-color: #6be57f;
    --header-img: url(img/culinary-image.jpeg);
    --bg-colour: #11427a;
    --bland-border: black;
    --part-b: #cf30c0;
    --grad-clr-1: #93e6f1;
}

.head-image {
    background-image: var(--header-img);
    height: 300px;
    background-size: cover;
    background-color: var(--bg-colour);
    background-blend-mode: multiply;
}

.head-text {
    color: var(--header-text);
}

.kanit-wait {
    font-family: Kanit;
}

.oswaldo {
    font-family: Oswald;
}

.verde-border {
    border-width: 5px;
    border-style: solid;
    border-color: var(--border-color);
    border-radius: 20px;
    padding: 10px;
    text-align: center;
}

.light-blu-border {
    --border-color: #93e6f1;
}

.light-blu-border {
    border-width: 5px;
    border-style: solid;
    border-color: var(--border-color);
    border-radius: 20px;
    padding: 10px;
    text-align: center;
}

.light-blu-border-side {
    border-width: 5px;
    border-style: solid;
    border-color: #11427a;
    border-radius: 20px;
    padding: 10px;
}
.black-border {
    border-width: 1px;
    border-style: solid;
    border-color: var(--bland-border);
}

.bunt-cake {
    font-family: Ubuntu;
}

.get-align {
    text-align: center;
}

.purpul-border {
    border-width: 5px;
    border-style: solid;
    border-color: var(--part-b);
    border-radius: 20px;
}

.right-point {
    margin-left: 15px;
}

.right-point-more {
    margin-left: 30px;
}

.light-colors {
    background: linear-gradient(35deg, #CCFFFF, #FFCCCC);
  }

  .light-colors-switch {
    background: linear-gradient(35deg, #FFCCCC, #CCFFFF);
  }

  .light-colors-side {
    background: linear-gradient(70deg, #CCFFFF, #FFCCCC);
  }

  .gradiente {
    background: linear-gradient(to bottom, #6be57f, var(--grad-clr-1), #FFCCCC, #11427a, #CCFFFF, var(--part-b));
  }

  .gradiente-dos {
    background: linear-gradient(to bottom, var(--part-b), #CCFFFF, #FFCCCC);
  }

.tablets {
    max-width: 100%;
    width: 500px;
    height: 180px;
    border: solid;
    border-color: green;
}

.mentor {
    max-width: 100%;
    max-height: 100%;
    width: 300px;
    height: 180px;
    border: solid;
    border-color: green;
}

.intro-grad {
    background: linear-gradient(to bottom, #CCFFFF, #6be57f);
}
